/**********  所有页面都要共用的样式  **********/
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
}
.active{
    color:  #0ba1e4;
}
.navbar .nav > li > a:hover {
    color:  #0ba1e4;

}
.navbar .nav >li >a:active{
    color: #0ba1e4;

}
.navbar .nav >li >a:visited{
    color:  #0ba1e4;

}

/*自定义基础通用样式*/
body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
    padding-top: 0;!important;
    border:0px;!important;
    margin-bottom: 0px;!important;
    padding-bottom: 0px;!important;
}
.big-bold {
    font-size:14px;
    font-weight:bold;
    color:#000;
}

.normal {
    font-size:12px;
    font-weight:normal;
    color:#666;
}
body{
    background: #f8f8f8;
}
a:hover{
    text-decoration: none;!important;
    cursor:pointer;!important;
}
.footer-contact{
    text-align: center;
}
.navbar-nav li {
    margin-left:30px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: 300;
}
a:visited{
    text-decoration: none;
}
a:focus{
    outline: none;
    text-decoration: none;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a {
    color: #000000;
    font-weight: 400;
}
.form-control-feedback{
    margin-right: 9px;
    color: #999;
    z-index: 99;
}
.radiu-center div{
    display: flex;
    align-items: center;

}

/*中屏幕样式header*/



@media (min-width: 768px) and (max-width: 991px) {
    nav.navbar.navbar-default.navbar-fixed-top .col-sm-9{
        width: 126%;!important;

    }
}


/*所有按钮加渐变动画*/
.btn{
    -webkit-transition: all 0.225s ease-in-out;
    -moz-transition: all 0.225s ease-in-out;
    -o-transition: all 0.225s ease-in-out;
    transition: all 0.225s ease-in-out;
}
/*所有按钮加渐变动画*/

/*幽灵按钮*/
.btn-outline-inverse{
    color: #fff;
    background: transparent;
    border-color: #fff;
}
.btn-outline-inverse:hover{
    color: #0ba1e4;
    text-shadow: none;
    background-color: #fff;
}

.btn-outline-blue{
    color: #0ba1e4;
    background: transparent;
    border-color: #0ba1e4;
}
.btn-outline-blue:hover{
    color: #fff;
    text-shadow: none;
    background-color: #0ba1e4;
}
/*幽灵按钮*/

/*标题下方的短下划线*/
.line{
    border-top: 1px solid #0ba1e4;
    width: 30px;
}
.line-big{
    margin: 30px auto 26px;
    border-width: 2px;
    width:80px;
}

/*标题下方的短下划线*/


/*自定义基础通用样式 */

/*所有页面共享的样式如导航,页脚等 */
/*手机超小屏幕下的单独样式 xs < 768px */
@media (max-width: 767px){
    /*全部-导航*/
    body{
        padding-top: 0;/*移动端若固定顶部导航的话高度为52px*/
        padding-bottom: 55px;
    }
    #header .navbar{/*移动端导航不固定顶部*/
        position: relative !important;
    }
    #header .navbar{
        padding-bottom: 0;
    }
    /*全部-导航*/
    /*全部-页脚*/
    #footer .footer-wechat p{
        text-align: left !important;
    }
    /*全部-页脚*/
    /*全部-返回顶部*/
    #clan-slider{
        bottom:55px !important;
    }
    #clan-slider ul li a{
        background-color: rgba(255,255,255,0.9) !important;
        border-color:  transparent !important;
        border-radius: 50% !important;
    }
    #clan-slider #slider-goTop{
        background-position: -92px 0 !important;
    }
    #clan-slider #slider-goTop:hover{
        background-position: 0 0 !important;
    }
    /*全部-返回顶部*/
}
/*手机超小屏幕下的单独样式 xs < 768px */

/*大于手机屏幕时的样式 sm >= 768px */
@media (min-width: 768px){
    body{
        padding-top: 82px;/*顶部固定导航条的空间*/
    }
    /*全部-导航*/
    #header .navbar{
        border-radius: 0;
        padding: 15px 0;
    }
    #header .navbar-nav>li>a{
        padding: 15px 0;
    }
    /*全部-导航*/
}
/*大于手机屏幕时的样式 sm >= 768px */

/*平板小屏幕样式 768px <= sm < 992px */
@media (min-width: 768px) and (max-width: 991px){
    /*全部-页脚*/
    #footer .footer-contact h2{
        font-size: 26px !important;
    }
    /* Safari 7.1+ (9.0 is the latest version of Safari at this time) */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        #footer .footer-contact h2{
            padding-left: 0;
            font-size: 22px !important;
        }
    }
    /*全部-页脚*/
}
/*平板小屏幕样式 768px <= sm < 992px */

/*大于992px以上固定宽度为970px md >= 992px */
@media (min-width: 992px){
    /*全部-最大宽度*/
    .container {
        width: 970px;
    }
    /*全部-最大宽度*/
    /*全部-页脚*/

    #footer .footer-contact h2{
        padding-left: 20px;
    }
    /* Safari 7.1+ (9.0 is the latest version of Safari at this time) */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        #footer .footer-contact h2{
            padding-left: 10px !important;
        }
    }
    /*全部-页脚*/
}
/*大于992px以上固定宽度为970px md >= 992px */



/*全部-导航条样式复写*/
#header .navbar-default{
    border:0;
    margin-bottom: 0;
    border-bottom: 2px solid #0ba1e4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
}
#header .navbar-default .navbar-nav>li>a{
    font-size: 16px;
    font-weight: 800;
    color: #000;
    font-family: cursive;


}
#header .navbar-default .navbar-nav>li>a:hover{
    color: #0ba1e4;
}
#header .navbar-default .navbar-nav>.active>a, #header .navbar-default .navbar-nav>.active>a:hover, #header .navbar-default .navbar-nav>.active>a:focus{
    color:#0ba1e4;
    background-color: rgba(255,255,255,0);
}
#header .navbar-default .navbar-toggle .icon-bar{
    background-color: none;
}
#header .navbar-default .navbar-nav>li .line-top{
    border-top: 1px solid #0ba1e4;
    width: 18px;
    margin: auto;
}
/*全部-导航条样式复写*/



/*全部-页脚footer*/
#footer{
    padding: 0;
    background-color: #363636;
}
#footer .footer-item{
    min-height: 160px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 1em;
    overflow: hidden;

}
#footer .footer-list h4{
    color: #f5f5f5;
}
#footer .footer-list ul{
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
}
#footer .footer-list ul li a{
    color: #f5f5f5;
    line-height: 2.5em;
}

#footer .footer-wechat img{
    max-height: 132px;
}
#footer .footer-wechat p{
    text-align: center;
    color: #f5f5f5;
    line-height: 2.5em;
}
#footer .footer-contact h5{
    display: block;
    color: #ffffff;
    margin: 0;
    line-height: 35px;
}
/*#footer .footer-contact h5 img{
    width: 40px;
    height: 40px;
    margin-top: -6px;
    margin-right: 10px;
}*/
#copyright{background-color: #666;}
#copyright p{
    text-align: center;
    margin: 10px;
    line-height: 40px;
    color: #fafafa;
}
#copyright p a{
    color: #fafafa;
}
#copyright p a:hover{
    text-decoration: none;
}
.footer-item .footer-list  ul li{
    text-align: center;
}
.footer-list h4{
    text-align: center;
}
/*全部-页脚footer*/
/*全部-移动端页脚*/
/*
#mob-bottom{
    width: 100%;
    !*max-height: 64px;*!
    text-align: center;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    bottom: 0;
    border-top: 2px solid #0ba1e4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mob-bottom .mob-bottom-item a{
    display: block;
    padding-top: 5px;
    padding-bottom: 2px;
    color: #616161;
    text-align: center;
    line-height: 1.5em;
    font-size: 12px;
}
#mob-bottom .mob-bottom-item a:hover{
    text-decoration: none;
}
#mob-bottom .mob-bottom-item a img{
    max-width: 28px;
}
*/
/*全部-移动端页脚*/
/*全部-回到顶部*/

/*全部-回到顶部*/
/**********  所有页面都要共用的样式  **********/



/**********  首页单独的样式  **********/
/*首页样式开始*/
/*首页-行板块*/
.index-row{
    padding: 50px 0;
}
.index-row .main-title{
    text-align: center;
    margin-bottom: 30px;
}
/*首页-行板块*/

/*首页-详细图片展示*/
/*平板小屏幕样式 768px <= sm < 992px */
@media (min-width: 768px) and (max-width: 991px) {
    .our-data .our-data-item .number-wrapper {
        font-size: 50px !important;
        line-height: 1.5em !important;
    }
}
.our-data .our-data-item{
    text-align: center;
}

/*首页-详细图片展示*/

/*首页-新闻焦点图*/
.our-whyus{
    background-color: #e1e1e1;
}
@media (max-width: 767px) {
    img.col-lg-3.col-sm-12 {
        margin: 5% 20%;
    }


}
/*首页-新闻焦点图*/

/*首页-新闻资讯*/
/*手机超小屏幕下的单独样式 xs < 768px */
@media (max-width: 767px) {
    ul.col-sm-6 {
        text-align: center;
    }


}
.our-service{
    background-color: #ffffff;
}
.card-box p{
    border-bottom: 1px solid #cccc;

}
.card-box p span{
    font-size:20px;
    font-weight: 800;
}

.card-box li {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 180px;
    margin-left: 8px;
    float: left;

}.card-box  .radiu-center div{
    padding: 10px 0px;
 }

.card-box{
    padding-top: 20px;
    padding-bottom: 60px;
}

/*首页-新闻资讯*/


/*首页-最新资讯*/
.our-news{
    background-color: #ffffff;
}
.our-news-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.our-news-item a:hover{
    text-decoration: none;
}
.our-news-item .media-left a{
    width: 140px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 0;
}
.our-news-item img{
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.our-news-item .media-body{
    padding-top: 5px;
    padding-bottom: 5px;
}

.our-news-item h4{
    color: #0ba1e4;
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.our-news-item h4:hover{
    font-weight: bold;
}

.our-news-item .dynamic-li {
    color: #999;
    padding: 2px 0;
    font-size: 12px;
}
.our-news-item .dynamic-li b {
    float: right;
    font-weight: 400;
    width: 30px;
}
.our-news-item .dynamic-li a{
    float: right;
    display: inline-block;
    font-weight: 400;
    color: #999;
    margin-right: 10px;
}
.our-news-item .dynamic-li a:hover{
    color: #f93;
}
.our-news-item .dynamic-li .pic-glob{
    float: right;
    display: inline-block;
    width: 13px;
    height: 10px;
    background-position: -131px -58px;
    margin: 4px 5px 0 0;
    background-image: url(../images/icons/glob-pic.png);
    background-repeat: no-repeat;
}

.our-news-item p{
    color: #919191;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    margin-bottom: 0;
    font-size: 12px;
}
.our-news-more{
    text-align: center;
}
/*首页-最新资讯*/

/*首页-我们的客户*/
.our-client{
    background-color: #e1e1e1;
}
.our-client-item{
    overflow:hidden !important;
}
.our-client-item .our-client-logo{
    text-align: center;
    border: 1px solid #c1c1c1;
    margin: 20px auto;
    overflow: hidden;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.our-client-item .our-client-logo:hover{
    background-color: #fafafa;
    border:1px solid #0ba1e4;
    box-shadow: 0 0 10px 0 rgba(45,183,245,.5);
}
.our-client-item .our-client-logo:hover img{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}
.our-client-item img{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
/*首页-我们的客户*/
/**********  首页单独的样式  **********/



/*手机超小屏幕下的单独样式 xs < 768px */




/*右侧sidebar样式*/

#clan-slider{
    position: fixed;
    _position: absolute;
    bottom: 30%;
    right: .1%;
    z-index: 1000;
}
#clan-slider ul{
    margin: 0;
    padding: 0;
    margin-top: -2px;
    list-style: none;
}
#clan-slider ul li{
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    position: relative;
}
#clan-slider ul li a{
    display: block;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: 1px solid #0ba1e4;
    background-color: #f5f5f5;
    background-image: url(../../img/clan-slider.png);
    background-repeat: no-repeat;
}



#slider-phone{
    background-position: 0 -184px;
}
#slider-phone:hover{
    background-position: -46px -184px;
    background-color: #0ba1e4;
}
#slider-wechat{
    background-position: 0 -230px;
}
#slider-wechat:hover{
    background-position: -46px -230px;
    background-color: #0ba1e4;
}
#slider-goTop{
    background-position: 0 0;
}
#slider-goTop:hover{
    background-position: -46px 0;
    background-color: #0ba1e4;
}
#clan-slider #slider-menu{
    background-position: 0 -46px;

    background-color: rgba(255,255,255,0.7);
    border-color:  rgba(255,255,255,0.7);
}
#clan-slider #slider-menu:hover{
    background-position: -46px -46px;
}
#clan-slider .clan-slider-tips{
    position: absolute;
    top: 0px;
    right: 48px;
    display: none;
    height: 48px;
    padding-left: 10px;
    padding-right: 2px;
    white-space: nowrap;
    border: 1px solid #0ba1e4;
    background-color: #0ba1e4;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;

}
#clan-slider .clan-slider-tips-wechat{
    display: none;
    position: absolute;
    background-color: #0ba1e4;
    padding: 1px;
    bottom: 0;
    right: 50px;
}
#clan-slider .clan-slider-tips-wechat img{
    width: 196px;
    height: 196px;
}
/*右侧sidebar样式*/



/*所有子页面的中间主体部分*/
/*.main-container{
    margin: 0 0 30px 0;
}*/
/*所有子页面的中间主体部分*/
/*
!


/**/
#footer a:hover{
    text-decoration: none;

}